extends layout

block content
  link(rel="stylesheet" type="text/css" href="./css/custom/main.css")

  .page_wrapper
    .modules



  script(src='./mainPage.js')
  script(src="/socket.io/socket.io.js")