extends layout

block content
  link(rel="stylesheet" type="text/css" href="./css/custom/main.css")

  .page_wrapper
    .modules
      for i in DBMaster
      
        div(class=`div${i.id}`)
          table
            tr
              td
                .p1(class = `slave`) s
              td
                .p2(class = `slave`)  s
              td
                .p3(class = `slave`)  s
            tr 
              td
                .p4(class = `slave`)  s
              td
                .master=`${i.name}`
              td
                .p5(class = `slave`)  s
            tr
              td
                .p6(class = `slave`)  s
              td
                .p7(class = `slave`)  s
              td
                .p8(class = `slave`)  s

  script(src='./mainPage.js')