.page_wrapper{
    text-align:center;
    vertical-align:middle;
    display:table;
    margin:auto;
}

.modules{
    display:flex;
    vertical-align: middle;
    margin-left: auto;
    margin-right:auto;
}

.scndWarapper{
    float: left;
}

table{
    width:450px;
    height:450px;
    margin:20px;
}

table .slave{
    background-color:#C0C0f0;
    width:150px;
    height:150px;
    padding:0px;
    border-radius:50%;
    text-align:center;
    vertical-align: center;
    margin:10px;
    font-size:12px;
    vertical-align:middle;
    line-height: 150px;
}

table .master{
    background-color:#86efef;
    width:150px;
    height:150px;
    border-radius:50%;
    text-align:center;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
}